
llama-cpp-python
haystack-ai
sentence-transformers
faiss-cpu
pymupdf
rouge-score
nltk
pandas
numpy
tqdm
scikit-learn
torch
huggingface_hub
peft
accelerate
transformers
requests
beautifulsoup4
streamlit
pyyaml
